{% extends 'app/base.html' %}
{% block title %} SELL {% endblock %}
{% block main-content %}
 <div class="container">
    <br>
     <h3>Sell your item</h3>
     <br>
     <form action="/thankyou_sell/" method="post" class="needs-validation" novalidate id = "myForm" enctype="multipart/form-data">{% csrf_token %}
     <div class="form-group">
        <label for="name">Date</label>
        <input type="text" class="form-control" required id="product_date" name="product_date" placeholder="Enter today's date in YYYY-MM-DD format, for example 2023-06-22">
        <div class="invalid-feedback">Please fill.</div>
      </div>
      <br>
     <h4>Personal Details</h4>

     
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="your_name" required name="your_name" placeholder="Enter Your Name">
    <div class="invalid-feedback">Please fill.</div>
  </div>
          <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="your_email" required name="your_email" placeholder="Enter Your Email">
    <div class="invalid-feedback">Please fill.</div>
  </div>
          <div class="form-group">
    <label for="name">Phone Number</label>
    <input type="text" class="form-control" id="your_phonenumber" required name="your_phonenumber" placeholder="Enter Your Phone Number">
    <div class="invalid-feedback">Please fill.</div>
  </div>
          <div class="form-group">
    <label for="name">Whatsapp Number</label>
    <input type="text" class="form-control" id="your_whatsappnumber" required name="your_whatsappnumber" placeholder="Enter Your Whatsapp Number">
    <div class="invalid-feedback">Please fill.</div>
  </div>
  
          <div class="form-group">
    <label for="name">Year</label> 
    <input type="text" class="form-control" id="your_year" name="your_year" required placeholder="For example, if in 2nd year, fill 2">
    <div class="invalid-feedback">Please fill.</div>
  </div>

  <div class="form-group">
    <label for="name">Branch</label> 
    <input type="text" class="form-control" id="your_branch" name="your_branch" required placeholder="Enter Your Branch">
    <div class="invalid-feedback">Please fill.</div>
  </div>
  <br>

  <h4>Product Details</h4>
<br>
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text" class="form-control" id="product_name" name="product_name" required placeholder="Enter its Name">
    <div class="invalid-feedback">Please fill.</div>
  </div>
          <div class="form-group">
    <label for="name">Product Category</label> 
    <input type="text" class="form-control" id="product_category" name="product_category" required placeholder="Enter its Category">
    <div class="invalid-feedback">Please fill.</div>
  </div>

  {% comment %} <div class="form-group">
    <label for="name">Product Sub-Category</label> 
    <input type="text" class="form-control" id="product_subcategory" name="product_subcategory" required placeholder="Enter its Category">
    <div class="invalid-feedback">Please fill.</div>
  </div> {% endcomment %}
  <div class="form-group">
    <label for="name">Product Image</label> 
    <input type="file" class="form-control-file" id="product_image" name="product_image" required placeholder="Upload its Image" accept="image/*">
    <div class="invalid-feedback">Please upload.</div>
  </div>
  <div class="form-group">
    <label for="name">Product Description</label> 
    <input type="text" class="form-control" id="product_description" name="product_description" required placeholder="Write its Description">
    <div class="invalid-feedback">Please fill.</div>
  </div>
  <div class="form-group">
    <label for="name">Product Price</label> 
    <input type="text" class="form-control" id="product_price" name="product_price" placeholder="Enter its Price" required>
    <div class="invalid-feedback">Please fill.</div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>




{% endblock %}
{% block js %} 

<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the form
        var form = document.getElementById('myForm');
        // Prevent form submission on button click
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      }, false);
    })();
  {% comment %} </script> {% endcomment %}

  

{% comment %} {% endblock %}





{% block js %} {% endcomment %}
{% comment %} <script>
console.log('working')
if(localStorage.getItem('cart') == null)
{
var cart={};
}
else{
cart= JSON.parse(localstorage.getItem('cart'));
}

</script> {% endcomment %}

{% comment %} <script>  {% endcomment %}

    
    {% comment %} if(localStorage.getItem('cart') == null)
    {
        var cart = {};
    }
    else
    {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $('.cart').click(function (){
        var idd = this.id.toString();
        console.log("working");
        console.log(idd);
        var idd = this.id.toString();
        if(cart[idd]==null)
        {
            cart[idd] = 1;
        }
        else
        {
            cart[idd] = cart[idd] + 1;
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        console.log(cart);
    })
    
    document.getElementById("cart_count").innerHTML = Object.keys(cart).length; {% endcomment %}
    {% comment %} console.log(cart); 
    {% endcomment %}

</script>
{% endblock%}







 